@font-face {
    font-family: Helvetica_Bold;
    src: url("./Helvetica-Bold.ttf");
}
@font-face {
    font-family: Helvetica_medium;
    src: url("./HelveticaNeue-Medium/HelveticaNeue-Medium.otf");
}
@font-face {
    font-family: proxima;
    src: url("./Proxima\ Nova\ Font.otf");
}
body{
    background-image: url(https://drive.google.com/uc?export=view&id=1_9G5jfduECycMWTCrXmJvrlFy9HEd6iW);
    background-attachment: fixed;
    margin: 0;
    font-family: proxima;
}

#parallex{
    background-image: url(https://drive.google.com/uc?export=view&id=1_9G5jfduECycMWTCrXmJvrlFy9HEd6iW);
    z-index: -1;
    height: 100vh;
}

.line{
    /* justify-content: center; */
    border-top: 2px solid white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 6rem;
}

.line5{
    /* justify-content: center; */
    border-top: 2px solid white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;
}

.line1{
    /* justify-content: center; */
    border-top: 2px solid white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 3rem;
}

.line2{
    /* justify-content: center; */
    border-top: 2px solid white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 7rem;
}

.line3{
    /* justify-content: center; */
    border-top: 2px solid white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 2rem;
}

.line4{
    /* justify-content: center; */
    border-top: 2px solid white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 4rem;
}




.linemodified{
    border-top: 2px solid white;
    width: 6rem;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.heading{
    margin-bottom: 0.5rem;
    margin-top: 7rem;
    color: aliceblue;
    font-size: 200%;
    font-family: Helvetica_Bold ;
}

.tl{
    margin-top: 1rem;
    color: aliceblue;
    font-size: 170%;
}

.para{
    background-color: rgba(0, 0, 255, 0.1);
    opacity: 1;
    margin: 2rem;
    border: 2px solid white;
    color: rgba(255, 255, 255, 1);
    text-align: justify;
    width:70vw;
    border-radius: 10px;
    overflow: hidden;
}

.para p{
    padding: 1rem;
    padding-inline: 2rem;
    text-align: center;
    font-size: 25px;
}

.paramodi{
    margin-left: 2%;
    margin-bottom: 10px;
    margin-right: 2%;
    text-align: center;
    font-size: 25px;
}

.headingcards{
    padding: 1rem;
    text-align: center;
}

.info{
    width: 60vw;
    padding: 20px;
    overflow: hidden;
  }

#img {
    width: 20%;
    background-color: white;
    border-radius: 0 40px 20px 0;
}

.zimg{
    position: relative;
    height: auto;
    width: 70%;
    /* left: 15%; */
    top: 40%;
  }

.zimgm{
    position: relative;
    height: auto;
    width: 70%;
    /* left: 15%; */
    top: 45%;
  }

.zimgl{
    position: relative;
    height: auto;
    width: 80%;
    top: 35%;
  }

.all_warp{
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  color: white;
  width: 70%;
  justify-content: space-evenly;
  font-size: 90%;
  margin: 2rem;
  border: 2px solid white;
  color: rgba(255, 255, 255, 1);
  border-radius: 10px 50px 29px 10px;
  background-color: rgba(0, 0, 255, 0.1);
  opacity: 1;
  font-size: 1.3rem;
}




@media screen and (max-width: 750px) {
    
    .all_warp{
        flex-direction: column-reverse;
        background-color: rgba(0, 0, 255, 0);
        border: 0px solid white;
    }

    .info{
        background-color: rgba(0, 0, 255, 0.1);
        border: 2px solid white;
    }

    #img {
        width: 45%;
        background-color: rgba(0, 0, 255, 0);
        border-radius: 0 40px 20px 0;
        margin: 30px;
    }

    .zimg{
        position: relative;
        height: auto;
        width: 90%;
        left: 14vw;
      }
    
    .zimgm{
        position: relative;
        height: auto;
        width: 70%;
        left: 13vw;
      }
    
    .zimgl{
        position: relative;
        height: auto;
        width: 80%;
        left: 15vw;
      }
}